.container{  
  background-color: transparent;    
}
.butao {
  display: flex;  
  justify-content: end; 
}
.butao button{
  background-color: transparent;
  border-style: none;
}
.butao svg{
  cursor: pointer;  
}
.butao svg:hover{
  cursor: pointer;
  transform: scale(130%);
  transition: 500ms; 
}
