.card {
    width: 284px;
    height: 424px;
    display: flex;    
    flex-direction: column;
    /* gap:  .5rem; */
    border-color: aliceblue;
    border-style:solid;
    border-width: 4px;
    font-size: 1rem;
    color: wheat;
    align-items: center;
    background-color: rgb(109, 110, 156)    
}
#poster {
    width: 231.27px;
    height: 326.5px;
}

.card:hover {
    transform: scale(108%);
    cursor: pointer;
    border-color: blue;
    transition: 500ms;
}

.card-visual {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid wheat;
    margin-bottom: .3rem;    
}

.card-info {
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 1.2rem;
    gap: .5rem;
    flex:1;
    justify-content: center;
    
    
}

.card-info span{
    margin: 0;
    padding: 0;
    color: yellow;
    font-size: 1rem;
}
