.nav-bar-container {
    /* height: 100%;
    min-height:100vh; */
    display: flex;    
    flex-direction: column;
    padding: 12px;
    min-width: 224px;    
    gap: .5rem;
    background-color:rgb(102, 103, 175);
    border: none;
    color: wheat;
    text-decoration: none;
    overflow-y: auto;    
}

.nav-bar-container a {    
    text-decoration: none;
}

.nav-bar-container a:hover {
    font-size: 110%;
    transition: 300ms;
}

.home-logo {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    font-size: 300%;
             
}
.home-logo a{
    color: blue;
}

.nav-list {
    display: flex;
    flex-direction: column;   
    font-size: 150%;
    gap: .5rem;       
}
.nav-list a{
    color: wheat;
}

.search-query {
    display: flex;
    gap: .3rem;
    font-size: 1rem;
    align-items: center;
    border: none;
    margin-bottom: 2rem;      
}

.search-query input{
    padding: .4rem .4rem;
    border-radius: 4px;
    border: none;
}

.search-query button{
    display: flex;
    padding: 0.4rem .5rem;
    background-color: rgb(53, 55, 194) ;
    align-items: center;
    border-radius:  4px;
    border: 2px solid rgb(53, 55, 194);
    font-size: .5rem;
    color: rgb(203, 214, 44);
}

.search-query button svg {
    font-size: .8rem;
}

.search-query button:hover{
    background-color: transparent;
    cursor: pointer;

}
