*{
  margin: 0;
  padding: 0;
}
:root { 
  .light-theme{
    --background-color: white;
    --font-color: black;
  } 
  
  .dark-theme{
    --font-color: wheat;
    --background-color: black;
  }  
}
html body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}